@import url("https://fonts.googleapis.com/css2?family=Single+Day&display=swap");

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.image-credit a {
  color: white;
}

.form-container {
  display: flex;
}
.first-container {
  width: 40vw;
  height: 100vh;
  position: relative;

  text-align: center;
}

.second-container {
  width: 60vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: #f9fafb;
}

.background-image {
  width: 40vw;
  height: 100vh;
  display: block;
}

.company-name {
  font-family: "Single Day", cursive;
  font-weight: bold;
  font-size: 4rem;
  color: white;
  width: 100%;

  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.5);
}

.image-credit {
  font-family: sans-serif;
  position: absolute;
  font-size: 0.8rem;
  top: 97%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

.text-container {
  font-family: sans-serif;
  font-weight: bold;
  font-size: 1.2rem;
  height: 35vh;
  padding-top: 6.5rem;
  padding-left: 2rem;
}

.main-form {
  height: 30vh;
}

.create-account {
  padding: 2rem;
  font-family: sans-serif;
}

.main-form {
  background-color: white;
  font-family: sans-serif;

  font-size: 1.2rem;
  font-weight: bold;
  padding-top: 1rem;
  padding-left: 2.5rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

form {
  display: flex;
  gap: 5rem;
  margin-top: 1rem;
}

label {
  font-size: 0.6rem;
  font-weight: bold;

  letter-spacing: 1px;
}

input {
  width: 200px;
  box-sizing: border-box;
}

button {
  width: 180px;
  height: 40px;
  font-size: 0.9rem;
  font-weight: bold;
  border-radius: 5px;
  background-color: #463a38;
  color: white;
  border: none;
}

p {
  font-size: 0.9rem;
}

p a {
  color: #463a38;
}
