@import url("https://fonts.googleapis.com/css2?family=Single+Day&display=swap");

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

a {
  color: white;
}

.form-container {
  display: flex;
}
.first-container {
  width: 40vw;
  height: 100vh;
  position: relative;

  text-align: center;
}

.second-container {
  width: 60vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.background-image {
  width: 40vw;
  height: 100vh;
  display: block;
}

.company-name {
  font-family: "Single Day", cursive;
  font-weight: bold;
  font-size: 4rem;
  color: white;
  width: 100%;

  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.5);
}

.image-credit {
  font-family: sans-serif;
  position: absolute;
  font-size: 0.8rem;
  top: 97%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

.text-container {
  background-color: #f9fafb;
  font-family: sans-serif;
  font-weight: bold;
  font-size: 1.2rem;
  height: 35vh;
  padding-top: 6.5rem;
  padding-left: 2rem;
}

.main-form {
  height: 30vh;
}

.create-account {
  background-color: lightblue;
  height: 35vh;
}
